#!/usr/bin/env bash

JETSON_HOSTNAME="jetson"
JETSON_CLUSTER_IP="10.0.0.1"
JETSON_INTERFACE="enP8p1s0"

SSH_USER="your-ssh-user"
PI_PASSWORD="replace-me"
SSH_CONNECT_TIMEOUT="5"

INCUS_REMOTE_PREFIX="pi"
INCUS_TRUST_PASSWORD="replace-me-incus"
INCUS_CLUSTER_ADDRESS_PORT="8443"
INCUS_BRIDGE_NAME="incusbr0"
INCUS_STORAGE_POOL="default"

SLURM_CLUSTER_NAME="pi-cluster"
SLURM_PARTITION_NAME="pi"
SLURM_STATE_SAVE_DIR="/var/spool/slurmctld"
SLURM_SPOOLDIR="/var/spool/slurmd"

PI_NODES=(
  "10.0.0.114"
  "10.0.0.116"
  "10.0.0.124"
  "10.0.0.144"
  "10.0.0.172"
  "10.0.0.175"
  "10.0.0.180"
  "10.0.0.187"
  "10.0.0.191"
  "10.0.0.192"
)

PI_NAMES=(
  "pi1"
  "pi2"
  "pi3"
  "pi4"
  "pi5"
  "pi6"
  "pi7"
  "pi8"
  "pi9"
  "pi10"
)
